test*
*test
*test*
*.o
*.out
.vscode
playground
*.gch
ft_libft/*.o
.DS_Store
ft_libft/.DS_Store
*.a
obj
minishell
TEST*
test*
gnl/*.gch
ft_libft/*.gch
gnl/*.o
a
b
c
d
e
f
g
h
i
j
k
l
A
B
C
D
E
F
G
H
I
J
K
L